<div>
    <div class="center">
        <div class="buttons-wrapper">
            <div class="back-button btn btn-default">Back</div>
            <div class="header center">Favorites</div>
        </div>
    </div>

    <div class="scroll-view pos-absolute full-width">
        <div>
            <ul data-template>
                {{# _.each(model, function(item, index) { }}
                <li class="screen-home-list-item" data-id="{{ item.title }}">
                    <div id="item-list">
                        <div class="item-wrapper clearfix">
                            <div class="image-wrapper">
                                <img class="float-left" src='{{ item.img_url }}'/>
                            </div>
                            <div class="image-description">
                                <p> {{ item.title }} </p>
                                <p> {{ item.price_formatted }} </p>
                            </div>
                        </div>
                    </div>
                </li>
                {{# }); }}
            </ul>
            <div class="empty-space"></div>
        </div>
    </div>
</div>