<div class="background">
    <div class="padding">
        <div class="header border-rad">RAD.js PropertyCross
            <img class="float-right pointer favorites-icon" src="img/favorites-1.png">
        </div>
        <div class="searchBar">
            <form id="input">
                <input type="text" id="text" class="text btn-block" placeholder="Enter property place-name here">
                <div id="search-button" class="search-button btn btn-success btn-block">Search</div>
            </form>
        </div>
    </div>


    <div class="padding prev-search-block">
        <h3 class="help-block">Your previous searches:</h3>
        <div class="search-scroll-view-wrapper">
            <div class="scroll-view pos-absolute full-width background">
                <div>
                    <ul>
                        {{# _.each(this.model.models, function(item, index) { }}
                        <li class="prev-search" data-word="{{ item.attributes.word }}">
                            <div>
                                <h3>
                                    <span> {{ index+1 }}. {{ item.attributes.word }}</span>
                                    <span class="float-right margin-left color-red">{{ item.attributes.resultItems }}</span>
                                </h3>
                            </div>
                        </li>
                        {{# }); }}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>