<div class="">
    <div class="header">
        <div class="back-button pointer float-left">&larr;</div>
        <img id="ru" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" alt=""/>
        <img id="en" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Union_flag_1606_(Kings_Colors).svg/2000px-Union_flag_1606_(Kings_Colors).svg.png" alt=""/>
    </div>
    <div class="scroll-view details-wrapper">
        <div>
            {{ this.model.attributes.local.category }}: <span class="details-category">{{ model.attributes.category }}</span>
            <img class="details-image" src="{{ model.attributes.img_url }}"/>
            {{# if(window.language==="en") { var title = this.model.attributes.attributes.title_en; var description = this.model.attributes.attributes.description_en;}
            else { var title = this.model.attributes.attributes.title_ru; var description = this.model.attributes.attributes.description_ru;} }}
            <div class="details-title"> {{ title }}</div>
            <span class="details-description"> {{ description }}</span>


            <div class="btn-wrapper">
                <h4>{{ this.model.attributes.local.bundle }}: {{ model.attributes.bundle }} {{ this.model.attributes.local.items }}</h4>

                <div class="">
                    <span id="add-add" class="plus-button plus btn-success btn">+</span>
                    <span id="remove-add" class="plus-button minus btn-success btn">-</span>
                    <span id="add-button" class="add-button btn btn-success">{{ this.model.attributes.local.addToCart }}</span>
                    <input id="add-quantity" class="product-details-input" type="text" value="{{ model.attributes.bundle }}"/>
                    <span id="price-add" class="price color-red">{{ model.attributes.price*model.attributes.bundle+" UAH" }}</span>
                </div>
                <div class="">
                    <span id="add-remove" class="minus-button plus btn-warning btn">+</span>
                    <span id="remove-remove" class="minus-button minus btn-warning btn">-</span>
                    <span id="remove-button" class="remove-button btn btn-warning">{{ this.model.attributes.local.removeFromCart }}</span>
                    <input id="remove-quantity" class="product-details-input" type="text" value="{{ model.attributes.bundle }}"/>
                    <span id="price-remove" class="price color-red">-{{ model.attributes.price*model.attributes.bundle+" UAH" }}</span>
                </div>
                <div class="white-space"></div>
            </div>
        </div>
    </div>
</div>