<div class="">
    <div class="header">
        <div class="back-button pointer float-left">&larr;</div>
        <img id="ru" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" alt=""/>
        <img id="en" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Union_flag_1606_(Kings_Colors).svg/2000px-Union_flag_1606_(Kings_Colors).svg.png" alt=""/>
    </div>
    <div class="details-wrapper">
        {{ this.model.attributes.local.category }}: <span class="details-category">{{ model.attributes.category }}</span>
        <img class="details-image" src="{{ model.attributes.img_url }}"/>
        {{# if(window.language==="en") { this.title = this.model.attributes.attributes.title_en; this.description = this.model.attributes.attributes.description_en;}
        else { this.title = this.model.attributes.attributes.title_ru; this.description = this.model.attributes.attributes.description_ru;} }}
        <div class="details-title"> {{ this.title }}</div>
        <span class="details-description"> {{ this.description }}</span>


        <div class="btn-wrapper">
            <h4>{{ this.model.attributes.local.bundle }}: {{ model.attributes.bundle }} {{ this.model.attributes.local.items }}</h4>

            <div class="">
                <span id="add-button" class="add-button btn btn-success">{{ this.model.attributes.local.addToCart }}</span>
                x
                <input id="add-quantity" class="product-details-input" type="text" value="{{ model.attributes.bundle }}"/>
                <span id="price-add" class="price float-right color-red">{{ model.attributes.price*model.attributes.bundle }} UAH</span>
            </div>
            <div class="">
                <span id="remove-button" class="remove-button btn btn-warning">{{ this.model.attributes.local.removeFromCart }}</span>
                x
                <input id="remove-quantity" class="product-details-input" type="text" value="{{ model.attributes.bundle }}"/>
                <span id="price-remove" class="price float-right color-red">-{{ model.attributes.price*model.attributes.bundle }} UAH</span>
            </div>
            <div class="spoilers-wrapper">
                <div class="added-spoiler color-red hidden"></div>
                <div class="removed-spoiler color-red hidden"></div>
            </div>
        </div>
    </div>
</div>