.header {
    height: 40px;
    background-color: lightcyan;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: darkgreen;
}

.flag {
    width: 50px;
    height: 30px;
    float: right;
    border: solid 1px grey;
    margin: 5px 5px;
}

.pointer {
    cursor: pointer;
}

.back-button {
    display: inline-block;
    padding: 0 10px;
    font-size: 38px;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.logged-user {
    font-size: 20px;
    float: left;
    margin: 5px 5px;
}


.clearfix {
    overflow: auto;
}
/*-----------------login page-------------------------------------------*/

.form-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 26px;;
}

.form-wrapper input{
    width: 100%;
}

.form-wrapper button {
    margin-top: 5px;
    font-size: 20px;;
}

.invalid-data {
    font: 20px Arial;
    color: red;
}

/*-----------------home page-----------------------------------------------------*/

.menu-list{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu-list div{
    margin: 5px;;
    font: bold 26px Arial;
}

/*-----------------list of products page------------------------------------------*/

.category-li {
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    border: solid 1px grey;
    margin: 5px;
    overflow: auto;
    text-align: center;
    height: 45px;
    line-height: 40px;
    border-radius: 5px;
}

.category-li:hover {
    border:solid 2px grey;
}

.category-li-checked {
    background-color: limegreen;
    font-weight: bold;
    color: white;
}

.products-filter {

}

.products-filter p {
    margin: 5px;
    font: normal 20px Arial;
}

.products-li {
    border: solid 2px lightgrey;
}

.products-li-title {
    font: bold 26px Arial;
}

.products-li-description{
    font: 20px Arial;
}

.products-li-price {
    font: bold 20px Arial;
    color:red;
}

.products-li-img {
    width: 100%;
}

/*-----------------product details page-------------------------------------------*/

.details-wrapper {
    margin: 10px auto;
    width: 80%;
    font-size: 20px;;
}

.add-button, .remove-button {
    width: 200px;
    font: 20px Arial;
    margin: 5px 0;
}

.btn-wrapper{
    margin-top: 20px;
    width: 100%;
}

.product-details-input {
    text-align: right;
    width: 80px;
}

.color-red {
    color: red;
}

.spoilers-wrapper {
    margin: 5px;
}

.added-spoiler, .removed-spoiler {
    font: normal 16px Arial;
}

.details-image {
    width: 100%;
    margin: 10px auto;
}

.details-category {
    font-size: 20px;
    margin: 10px;
    color: blue;
    font-style: italic;
}

.details-title {
    font: bold 24px Arial;
}

.details-description {
    margin: 10px auto;
}

.price {
    padding: 13px 0;
}

/*-----------------shopping cart page-------------------------------------------*/

.price-wrapper {
    margin: 5px;
    font: normal 26px Arial
}

.buy-button {
    font: normal 26px Arial;
    margin: 15px;
}

.total {
    margin-top: 10px;
    border-top: solid 1px grey;
}

.make-order{
    margin: 15px 5px;
    font-size: 28px;
}


/*-----------------shopping history page-------------------------------------------*/
.history-wrapper {
    width: 100%;
    text-align: center;
    font-size: 26px;
}

/*-----------------shopping history page-------------------------------------------*/

.toast-wrapper div{
    padding: 10px 5px;
    font: normal 20px Arial;
    background-color: white;
    color: red;
    width: 40%;
    margin: 40% auto;
    white-space: normal;
    border: solid 2px grey;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
}
