<div>
    <div class="scroll-view pos-absolute full-width">
        <div>
            {{# if(model.name){ }}
            <div class="header">{{ model.name }}</div>
            {{# } }}


            <img class="image-details" src='{{ model.img_url }}'/>

            {{# if(model.snippet){ }}
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            <div class="item-description">{{ model.snippet }}</div>
            {{# } }}

            <div class="back-to-list btn btn-default">Back to list</div>
        </div>

    </div>
</div>