<div>
    <div class="padding">
        <div class="buttons-wrapper clearfix">
            <div class="back-button btn btn-default">Back to search</div>
            <img class="favorites-icon" src="http://png-4.findicons.com/files/icons/1700/2d/512/star.png">
            <div class="show-more-button btn btn-default">Show next page</div>
        </div>
        <div class=" center half" data-template>
            {{# if (this.model.total_pages>0) { }}

            <h2 class="">Showing {{ model.length*this.model.page-19 }} - {{ model.length*this.model.page }} items of {{ this.model.total_pages*20 }}</h2>
            {{# } else { }}
            <h2 class="center half">Sorry, there is no results with your request!</h2>
            {{# }; }}
        </div>
    </div>

    <div class="scroll-view pos-absolute full-width">
        <div>
            <ul data-template>
                {{# _.each(model, function(item, index) { }}
                <li class="screen-home-list-item" data-id="{{ item.title }}">
                    <div id="item-list">
                        <div class="item-wrapper clearfix">
                            <div class="image-wrapper">
                                <img class="float-left" src='{{ item.img_url }}'/>
                            </div>
                            <div class="image-description">
                                <p class="title"> {{ item.title }} </p>
                                <p class="price"> {{ item.price_formatted }} </p>
                            </div>
                        </div>
                    </div>
                </li>
                {{# }); }}
            </ul>
            <div class="empty-space"></div>
        </div>
    </div>
</div>