h3{
    margin: 0;
    padding: 0;
}

.padding {
    padding: 5px;
}

.float-left {
    float:left;
}
.float-right {
    float:right;
}

.color-red{
    color: lightcoral;
}

.clearfix {
    overflow: auto;
}

.favorites-icon {
    display: inline-block;
    height: 30px;
    margin: 5px;
}

.empty-space {
    height: 110px;
}

.title {
    font-size: 20px;
}

.price {
    font-style: italic;
    font-size: 28px;
}

.loader{
    color:white;
    background-color: #595b5b;

    padding: 10px;
    position: absolute;
    height: 40px;
    width: 100px;
    margin: -10px 0 0 -50px;
    top: 50%;
    left: 50%;
}
/*------------------------------------------screen-search------------------------------------------*/

.header{
    font-size: 31px;
    text-align: center;
    background-color: aquamarine;
}

.text {
    font-size: 26px;
    height: 50px;
    width: 100%;
    padding: 5px;
    color: black;
    margin: 5px 0;
}

.pos-absolute {
    position: absolute;
}

.prev-search{
    padding: 10px 5px;
}

.prev-search:hover {
    background-color: lightcyan;
}
.prev-search:active {
    background-color: cyan;
}

.prev-search-block {
    margin-top: 15px;
}

.search-button{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

/*------------------------------------------screen-home------------------------------------------*/

.back-button, .show-more-button{
    display: inline-block;
    font-size: 20px;
    background-color: aquamarine;
    border: solid lightgrey 2px;
}

.back-button{
    float:left;
}

.show-more-button {
    float:right;
}

.buttons-wrapper {
    font-size: 26px;
    text-align: center;
    background-color: aquamarine;
}

.image-wrapper img{
    height: 160px;
}




.screen-home-list-item{
    margin: 15px;
    border: solid lightgrey 2px;
    background-color: lightcyan;
}

.screen-home-list-item:hover{
    border: solid blue 2px;

}
/*------------------------------------------screen-details------------------------------------------*/


.item-description{
    padding: 5px;
    font-size: 20px;
    font-style: italic;
    margin: 10px;
}

.full-width {
    width: 100%;
}

.back-to-list {
    display: inline-block;
    font-size: 20px;
    background-color: aquamarine;
    border: solid lightgrey 2px;
}

.addFavorites, .removeFavorites {
    font-size: 20px;
    background-color: yellow;
    margin: 25px;
}

.display-none {
    display: none;
}
