<div class="">
    <div class="header">
        <span class="logged-user">You logged in as "{{ window.user }}"</span>
        <img class="flag" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" alt=""/>
        <img class="flag" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Union_flag_1606_(Kings_Colors).svg/2000px-Union_flag_1606_(Kings_Colors).svg.png" alt=""/>
    </div>
    <div class="menu-list">
        <div class="list-of-products btn btn-success btn-block">List of products</div>
        <div class="shopping-cart btn btn-success btn-block">Shopping cart</div>
        <div class="shopping-history btn btn-success btn-block">Shopping history</div>
        <div class="logout btn btn-success btn-block">Logout</div>
    </div>
</div>