<div class="">
    <div class="header">
        <span class="header-text">{{ this.model.attributes.local.hello }},"{{ window.user.email }}"</span>
        <img id="ru" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" alt=""/>
        <img id="en" class="flag pointer" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Union_flag_1606_(Kings_Colors).svg/2000px-Union_flag_1606_(Kings_Colors).svg.png" alt=""/>
        <img class="scart-icon pointer" src="http://www.inmotionhosting.com/support/images/stories/icons/ecommerce/empty-cart-dark.png"/>
    </div>
    <div class="menu-list">
        <div class="list-of-products btn btn-success btn-block">{{ this.model.attributes.local.listOfProducts }}</div>
        <div class="shopping-cart btn btn-success btn-block">{{ this.model.attributes.local.shoppingCart }}</div>
        <div class="shopping-history btn btn-success btn-block">{{ this.model.attributes.local.shoppingHistory }}</div>
        <div class="logout btn btn-success btn-block">{{ this.model.attributes.local.logout }}</div>
    </div>
    <div class="footer">(c) IShop 2015</div>
</div>