<div>
    <div class="info-wrapper">
        <div class="info-header">It is so easy to search for houses to buy in the UK!</div>
        <div class="info-after-header">Just follow next steps:</div>
        <ul class="ul-info">
            <li>Tap on the search bar</li>
            <li>Type the preferred city of the UK(e.g. London. Oxford, Derby) or UK postcode ( SW1A, W11, etc.)</li>
            <li>Learn details and contact info about each option</li>
            <li>Save the options you liked to favorites for a further look</li>
        </ul>
        <div class="info-enjoy">Enjoy!</div>
    </div>
</div>