<div class="">
    <div class="header">
        <div class="back-button pointer float-left">&larr;</div>
        <img class="flag" src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" alt=""/>
        <img class="flag" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Union_flag_1606_(Kings_Colors).svg/2000px-Union_flag_1606_(Kings_Colors).svg.png" alt=""/>
    </div>
    <div class="row">
        <div class="products-ul-wrapper col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <ul class="products-ul">
                {{# _.each(model, function(item, index) { }}
                <li class="products-li btn-block btn" data-id="{{ item.id }}">
                    <div class="products-li-title">{{ item.title_en }}</div>
                    <div class="products-li-description">{{ item.description_en }}</div>
                    <div class="products-li-price">{{ item.price }} UAH</div>
                </li>
                {{# }); }}
            </ul>

            <div class="price-wrapper">
                <div>Price:......................12310  UAH</div>
                <div>Discount(3%):...............23  UAH</div>
                <div>Sale:.......................231  UAH</div>
                <div>Total:......................123123 UAH</div>
                <div class="btn btn-success">Buy</div>
            </div>
        </div>
    </div>
</div>