<div >
    <div class="top-title">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item left quarter">
                    <p class="topcoat-icon-button back-button">back</p>
            </div>
            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Phone Details</h1>
            </div>
        </div>
    </div>


    <div class="scroll-view screen-height">
        <div class="content">

            {{# if(model.name){ }}
            <p class="header">{{ model.name }}</p>
            {{# } }}

            {{# if(model.snippet){ }}
            <p class="subheader">{{ model.snippet }}</p>
            {{# } }}
            <img class="image-details" src='{{ model.imageUrl }}'/>

            <div class="image-container center"></div>
        </div>
    </div>
</div>